<div class="task-compact">
  <div class="task__id">
    <a class="task__link" [routerLink]="['/tasks', task().id]">{{ task().code }}</a>
  </div>
  <div class="task__title">
    <a class="task__link" [routerLink]="['/tasks', task().id]">
      {{ task().summary }}
    </a>
  </div>
  <div class="task__status">
    <strong>{{ task().status }}</strong>
  </div>
  <div class="task__date">
    <strong>{{ task().dueDate | date: 'mediumDate' }}</strong>
  </div>
  <div class="task__person">
    <strong>{{ task().assigneeName }}</strong>
  </div>
</div>
